* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-container {
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.signup {
  margin-left: auto;
}

.app-container {
  display: flex;
  justify-content: flex-start;
}

.board-pannel-container {
  display: flex;
  flex:1;
  border: 1px solid black;
  background-color: #D6E9FE;
  height: 80vh;
}

.board-pannel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.board {
  border: 1px solid #fff;
  height: 80px;
}

.create-board {
  height: 80px;
}

.task-pannel-container {
  display: flex;
  padding: 10px 10px;
  margin: 0 0 0 2px;
  border: 1px solid black;
  flex: 2;
  flex-flow: wrap;
}

.task-item {
  margin: 1px;
  border: 1px solid black;
  background-color: grey;
  width: 150px;
  height: 150px;
}

.task-header {
  height: 25%;
  width: 100%;
  border-bottom: 1px solid black;
}

.task-content {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid black;
}

.task-footer {
  height: 25%;
  width: 100%;
}

.footer {
  display: flex;
  background-color: #5995DA;
  height: 50px;
  flex: 1;
}
